body{
  background-color: darkred;
}
#wrapper{
        width: 900px;
        height: 1200px;
        margin:0 auto;
        font-family: Arial, sans-serif;
        font-size: 17px;
        color:black;
        top:0;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: #74b72e; /*Source: https://im-coder.com/css-hover-text-die-farbe-zu-aendern-mit-taste.html#:~:text=CSS%20Hover-Text%20die%20Farbe%20zu%20%C3%84ndern%20Mit%20Taste,von%20wei%C3%9F%20zu%20schwarz%20bei%20der%20gleichen%20Zeit. */
  cursor: pointer; /*Source: https://www.educba.com/javascript-image-slider/ */
}

#header{
  background-color: white;
  position: fixed;
  width: 900px;
  height: 150px;
  z-index: 100;
  border-width: 0px 0px 3px 0px;
  border-color: black;
  border-style: solid;
  float: left;
  background-color:white;
  top:0;
}

#imgbooks{
  height: 80px;
  width: 280px;
  float: left;
  margin: 10px 0px 10px 20px;
}
#imglogo{
  height: 60px;
  width: 300px;
  float: right;
  margin: 20px 20px 20px 280px;
  cursor: none;
}
#navleft{
  height: 70px;
  width: 300px;
  font-weight: bold;
  float: left;
  text-align: center;
}
#navcent{
  height: 70px;
  width: 300px;
  float: left;
  text-align: center;
}
#navright{
  height: 70px;
  width: 300px;
  float: right;
  text-align: center;
}

#description{
  font-size: 15px;
  float: left;
  text-align: left;
  height: auto;
  width: 450px;
  position: relative;
  margin: 150px 7px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color:white;
}
#topdes{
  font-style: italic;
  font-size: 17px;
}

#insta{
  height: 279px;
  width: 362px;
  float: left;
  position: relative;
  margin: 150px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color:white;
}
#instaimg{
  height: 200px;
  float: left;
  padding: 20px 20px 10px 30px
  width: auto;
  cursor: zoom-in;
}
#instatxt{
  font-style: oblique;
  text-align: center;
  float: right;
  width: 360px;
}

h1{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  position: relative;
  float: left;
  margin: 0px 0px 20px 10px;
}

#nameday{
  height: auto;
  width: 860px;
  padding: 20px 20px 20px 20px;
  float: left;
  position: relative;
  margin: 7px 0px 0px 0px;
  background-image: linear-gradient(to right, #98FB98, #74b72e); /*Source:https://www.blogseite.com/css-farbverlauf-erstellen/ */
}
#namedayheading{
  margin: 0px 0px 0px 0px;
  width: 900px;
}
#namedaytxt{
  width: 500px;
  float: left;
  font-size: 17px;
}
#namesdayOutput{
  color: white;
  text-align: center;
  font-size: 20px;
  width: 200px;
  float: right;
  font-style: oblique;
}

#openinghours{
  float: left;
  font-size: 17px;
  margin: 7px 7px 0px 0px;
  padding: 20px 16px 0px 20px;
  text-align: center;
  width: 407px;
  height: 391px;
  position: relative;
  background-color:white;
}
#openingNews{
  margin: 10px 0px 0px 0px;
}

.events{
  float: left;
  margin: 7px 0px 0px 0px;
  padding: 2px 6px 5px 10px;
  text-align: left;
  font-size: 12px;
  position: relative;
  width: 325px;
  height: 100px;
  border-width: 1px 0px 1px 1px;
  border-color: black;
  border-style: solid;
  background-color:white;
}
h2{
  font-size: 17px;
  color: darkred;
}

.eventimg{
  height: 107px;
  width: 107px;
  float: right;
  margin: 7px 0px 0px 0px;
  position: relative;
  border-width: 1px 1px 1px 0px;
  border-color: black;
  border-style: solid;
  cursor: zoom-in;
}
#eventsheading{
  width: 440px;
  float: right;
  background-color: white;
  padding: 20px 0px 0px 10px;
  margin: 7px 0px 0px 0px;
}
h2{
  font-size: 17px;
}
.eventtext{
  float: right;
}

button{
  cursor:grab;
}

.footer{
  height: 25px;
  width: 300px;
  text-align: center;
  float: left;
  position: relative;
  margin: 7px 0px 5px 0px;
  border-width: 3px 0px 0px 0px;
  border-style: solid;
  border-color: black;
  padding: 10px 0px 10px 0px;
  background-color:white;
}
